<p>
  <strong><%= t('.name') %>:</strong>
  <%= @badge.name %>
</p>

<p>
  <strong><%= t('.rule') %>:</strong>
  <%= rule_info(@badge) %>
</p>

<p>
  <%= image_tag default_image %>
</p>

<%= link_to t('.edit'), edit_admin_badge_path(@badge) %> |
<%= link_to t('.back'), admin_badges_path %>
