<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand">
    <%= t('.header') %> <%= link_to 'TestGuru', admin_tests_path, class: 'navbar-brand' %>
  </span>

  <span class="navbar-text">
    <%= t('.welcome') %>, <b><%= current_user.email %></b> Guru |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </span>
</nav>
