<h1>
  <%= t('.header', title: @test_passage.test.title) %>
</h1>

<div class="progress">
  <%= content_tag :div, class: 'progress-bar',
                  role: 'progressbar',
                  style: 'width: 0%;',
                  data: {
                    current_value: @test_passage.test.question_number(@test_passage.current_question),
                    max_value: @test_passage.test.questions.count
                  } do %>
  <% end %>
</div>

<% if !@test_passage.current_question.nil? %>
  <p>
    <b><%= @test_passage.current_question.body %></b>
  </p>
<% end %>

<p class="hide">
  <%= @test_passage.created_at %>
</p>

<p class="timer"><%= time_format(@test_passage.elapsed_time) %></p>

<%= button_to 'Reduce time', reduce_time_test_passage_path(@test_passage), method: :put, class: 'reduce-time hide' %>

<%= button_to 'End test with timeout', end_test_with_timeout_test_passage_path(@test_passage), method: :put, class: 'end-test-with-timeout hide' %>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <% if !@test_passage.current_question.nil? %>
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
      <p>
        <%= b.check_box id: "answer_ids_#{b.object.id}" %>
        <%= b.label %>
      </p>
    <% end %>
  <% end %>

  <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :put %></p>
  <p><%= form.submit t('.next') %></p>
<% end %>
