<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <h1>Проект <%= link_to 'TestGuru', root_path %> (<%= github_url('HalamBalam', 'TestGuru') %>).</h1>
      <h3>Приложение для создания и прохождения тестов по различным предметам</h3>
    </p>

    <% if user_signed_in? %>
      <p class="nav user">
        Welcome, <b><%= current_user.email %></b> Guru |
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </p>
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>

    <p>
      <%= current_year %>, Сурганов Антон.
    </p>

    <p>
      Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://thinknetica.com/', target: "_blank" %>
    </p>
  </body>
</html>
